/* ===========================
   BRIXELEDGE V2
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#FFFFFF;
    color:#1F2937;
    line-height:1.7;
}

/* ===========================
   HEADER
=========================== */

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:18px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#FFFFFF;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
    z-index:1000;
}
.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:65px;
    height:65px;
    object-fit:contain;
}

.logo h1{
    font-size:32px;
    font-weight:700;
    color:#1F2937;
}

.logo span{
    color:#D4AF37;
}
.logo span{
    color:#D4AF37;
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}

nav ul li a{
    color:#1F2937;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
}

nav ul li a:hover{
    color:#C1121F;
}

/* ===========================
   HERO
=========================== */

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:120px 20px 80px;
    background:#FFFFFF;
}

.hero-content h4{
    color:#F97316;
    letter-spacing:3px;
    margin-bottom:15px;
}

.hero-content h1{
    font-size:70px;
    color:#1F2937;
    line-height:1.2;
}

.hero-content h1 span{
    color:#C1121F;
}

.hero-content p{
    color:#6B7280;
    font-size:20px;
    max-width:750px;
    margin:30px auto;
}

.buttons{
    margin-top:40px;
}

.btn,
.btn2{
    display:inline-block;
    padding:15px 40px;
    border-radius:50px;
    text-decoration:none;
    font-weight:600;
    transition:.3s;
    margin:10px;
}

.btn{
    background:#C1121F;
    color:#FFFFFF;
}

.btn:hover{
    background:#F97316;
}

.btn2{
    border:2px solid #D4AF37;
    color:#D4AF37;
}

.btn2:hover{
    background:#D4AF37;
    color:#1F2937;
}

/* ===========================
   MOBILE
=========================== */

@media(max-width:768px){

header{
    flex-direction:column;
    padding:20px;
}

nav ul{
    flex-direction:column;
    text-align:center;
    gap:15px;
    margin-top:20px;
}

.hero-content h1{
    font-size:42px;
}

.hero-content p{
    font-size:18px;
}

.logo img{
    width:55px;
    height:55px;
}

}
